In [1]:
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase
from langchain.llms.openai import OpenAI
from langchain.agents import AgentExecutor
from langchain.agents.agent_types import AgentType
from langchain.chat_models import ChatOpenAI

# adding Folder_2 to the system path
import sys
sys.path.insert(0, '../')
from common.utils import Utils

In [2]:

#db = SQLDatabase.from_uri("mysql+mysqlconnector://xxx:xxx@localhost:3306/sys")
db = SQLDatabase.from_uri('postgresql+psycopg2://flowise:flowise@localhost/metastore')

In [5]:
llm = ChatOpenAI(model='gpt-4-0613', temperature=0, openai_api_key = Utils.get_openai_key())
toolkit = SQLDatabaseToolkit(db=db, llm=llm)

## 1 Agent with No Support Vector Store

In [7]:
agent_executor_1 = create_sql_agent(
    llm=ChatOpenAI(model='gpt-4-0613', temperature=0, openai_api_key = Utils.get_openai_key()),
    toolkit=toolkit,
    verbose=True,
    agent_type=AgentType.OPENAI_FUNCTIONS,
    suffix="""
    To answer my questions, you need to do following things:
    1. generate a correct SQL
    2. send the SQL to database and get the answer from database
    3. Base on the answer from database, give me the answer
    4. give me the SQL that you generated
    5. explain the SQL that you generated
    """
)
response = agent_executor_1.run("Find investors who trade for three consecutive days")

> Entering new AgentExecutor chain...

Invoking: `sql_db_list_tables` with ``
responded: To answer this question, I first need to know the structure of the database. I will use the `sql_db_list_tables` tool to get a list of all tables in the database.

investor_definition, investor_trade, stock_definition, stock_dividend, stock_price, stock_type_definition
Invoking: `sql_db_schema` with `investor_trade`
responded: The database contains the following tables: investor_definition, investor_trade, stock_definition, stock_dividend, stock_price, stock_type_definition.

To find investors who trade for three consecutive days, I will need to use the investor_trade table. I will use the `sql_db_schema` tool to get the schema and sample rows for this table.


CREATE TABLE investor_trade (
	holding_date DATE NOT NULL,
	investor_id VARCHAR(255) NOT NULL,
	stock_code VARCHAR(255) NOT NULL,
	direction VARCHAR(255),
	volume VARCHAR(32),
	busu_unit VARCHAR(255) NOT NULL,
	country VARCHAR(255) NOT NULL,
	CONSTRAINT investor_trade_pkey PRIMARY KEY (holding_date, investor_id, stock_code)
)

/*
3 rows from investor_trade table:
holding_date	investor_id	stock_code	direction	volume	busu_unit	country
2023-05-11	1	AAPL	buy	1000	MOT	SG
2023-05-11	1	AAC	buy	2000	MOT	SG
2023-05-11	1	UBSI	buy	400	MOT	SG
*/
Invoking: `sql_db_query_checker` with `SELECT investor_id FROM ( SELECT investor_id, holding_date, holding_date - ROW_NUMBER() OVER(PARTITION BY investor_id ORDER BY holding_date) as grp FROM investor_trade ) t GROUP BY investor_id, grp HAVING COUNT(*) >= 3 LIMIT 10;`
responded: The investor_trade table has the following columns: holding_date, investor_id, stock_code, direction, volume, busu_unit, country.

To find investors who trade for three consecutive days, I will need to use the holding_date and investor_id columns.

I will generate a SQL query that groups by investor_id and checks if there are three consecutive dates in the holding_date column for each investor.

Here is the SQL query:

```sql
SELECT investor_id
FROM (
    SELECT investor_id, holding_date,
           holding_date - ROW_NUMBER() OVER(PARTITION BY investor_id ORDER BY holding_date) as grp
    FROM investor_trade
) t
GROUP BY investor_id, grp
HAVING COUNT(*) >= 3
LIMIT 10;
```

This query works by creating a group for each set of consecutive dates for each investor. It then counts the number of dates in each group and returns the investor_id for groups with three or more dates.

I will now use the `sql_db_query_checker` tool to check if this query is correct.

SELECT investor_id FROM ( SELECT investor_id, holding_date, holding_date - ROW_NUMBER() OVER(PARTITION BY investor_id ORDER BY holding_date) as grp FROM investor_trade ) t GROUP BY investor_id, grp HAVING COUNT(*) >= 3 LIMIT 10;
Invoking: `sql_db_query` with `SELECT investor_id FROM ( SELECT investor_id, holding_date, holding_date - ROW_NUMBER() OVER(PARTITION BY investor_id ORDER BY holding_date) as grp FROM investor_trade ) t GROUP BY investor_id, grp HAVING COUNT(*) >= 3 LIMIT 10;`
responded: The SQL query is correct. I will now execute it using the `sql_db_query` tool to get the list of investors who trade for three consecutive days.

Error: (psycopg2.errors.UndefinedFunction) operator does not exist: date - bigint
LINE 1: ... ( SELECT investor_id, holding_date, holding_date - ROW_NUMB...
                                                             ^
HINT:  No operator matches the given name and argument types. You might need to add explicit type casts.

[SQL: SELECT investor_id FROM ( SELECT investor_id, holding_date, holding_date - ROW_NUMBER() OVER(PARTITION BY investor_id ORDER BY holding_date) as grp FROM investor_trade ) t GROUP BY investor_id, grp HAVING COUNT(*) >= 3 LIMIT 10;]
(Background on this error at: https://sqlalche.me/e/20/f405)
Invoking: `sql_db_query_checker` with `SELECT investor_id FROM ( SELECT investor_id, holding_date, holding_date - (ROW_NUMBER() OVER(PARTITION BY investor_id ORDER BY holding_date) * INTERVAL '1 day') as grp FROM investor_trade ) t GROUP BY investor_id, grp HAVING COUNT(*) >= 3 LIMIT 10;`
responded: It seems like there was an error with the SQL query. The PostgreSQL database does not support subtracting an integer from a date directly. I will modify the query to cast the row number to an interval of days before subtracting it from the date.

Here is the modified SQL query:

```sql
SELECT investor_id
FROM (
    SELECT investor_id, holding_date,
           holding_date - (ROW_NUMBER() OVER(PARTITION BY investor_id ORDER BY holding_date) * INTERVAL '1 day') as grp
    FROM investor_trade
) t
GROUP BY investor_id, grp
HAVING COUNT(*) >= 3
LIMIT 10;
```

I will now use the `sql_db_query_checker` tool to check if this modified query is correct.

SELECT investor_id
FROM (
    SELECT investor_id, holding_date, holding_date - (ROW_NUMBER() OVER(PARTITION BY investor_id ORDER BY holding_date) * INTERVAL '1 day') as grp
    FROM investor_trade
) t
GROUP BY investor_id, grp
HAVING COUNT(*) >= 3
LIMIT 10;
Invoking: `sql_db_query` with `SELECT investor_id FROM ( SELECT investor_id, holding_date, holding_date - (ROW_NUMBER() OVER(PARTITION BY investor_id ORDER BY holding_date) * INTERVAL '1 day') as grp FROM investor_trade ) t GROUP BY investor_id, grp HAVING COUNT(*) >= 3 LIMIT 10;`
responded: The modified SQL query is correct. I will now execute it using the `sql_db_query` tool to get the list of investors who trade for three consecutive days.

[('3',), ('2',), ('1',)]The investors who traded for three consecutive days are investors with the IDs 1, 2, and 3.

The SQL query I used to find this information is:

```sql
SELECT investor_id
FROM (
    SELECT investor_id, holding_date,
           holding_date - (ROW_NUMBER() OVER(PARTITION BY investor_id ORDER BY holding_date) * INTERVAL '1 day') as grp
    FROM investor_trade
) t
GROUP BY investor_id, grp
HAVING COUNT(*) >= 3
LIMIT 10;
```

This query works by creating a group for each set of consecutive dates for each investor. It then counts the number of dates in each group and returns the investor_id for groups with three or more dates.

> Finished chain.

In [11]:
agent_executor_1 = create_sql_agent(
    llm=ChatOpenAI(model='gpt-4-0613', temperature=0, openai_api_key = Utils.get_openai_key()),
    toolkit=toolkit,
    verbose=True,
    agent_type=AgentType.OPENAI_FUNCTIONS,
    suffix="""When giving the final answer, also append the final SQL and explain it."""
)
response = agent_executor_1.run("Find investors who trade for three consecutive days")

> Entering new AgentExecutor chain...
To answer this question, I would need to know the structure of the database. I will first list all the tables in the database.

Let's use the `sql_db_list_tables` tool to get the list of tables.

```typescript
const tables = await ai.tools.functions.sql_db_list_tables({ __arg1: "" });
```

After getting the list of tables, I will check the schema of the relevant tables. Let's assume that the relevant table is `trades`.

I will use the `sql_db_schema` tool to get the schema of the `trades` table.

```typescript
const schema = await ai.tools.functions.sql_db_schema({ __arg1: "trades" });
```

Assuming the `trades` table has the following columns: `investor_id`, `trade_date`.

The SQL query to find investors who trade for three consecutive days would look something like this:

```sql
SELECT investor_id
FROM (
    SELECT investor_id, trade_date,
           trade_date - ROW_NUMBER() OVER(PARTITION BY investor_id ORDER BY trade_date) as grp
    FROM trades
) t
GROUP BY investor_id, grp
HAVING COUNT(*) >= 3
ORDER BY investor_id
LIMIT 10;
```

This query works by creating a group for each set of consecutive dates for each investor. It then counts the number of dates in each group and returns the investor ids where the count is 3 or more.

Before executing the query, I will check it using the `sql_db_query_checker` tool.

```typescript
const checkResult = await ai.tools.functions.sql_db_query_checker({ __arg1: query });
```

If the checkResult is successful, I will execute the query using the `sql_db_query` tool.

```typescript
const result = await ai.tools.functions.sql_db_query({ __arg1: query });
```

The result will be the list of investor ids who trade for three consecutive days.

> Finished chain.

In [8]:
print(response)

The investors who traded for three consecutive days are investors with the IDs 1, 2, and 3.

The SQL query I used to find this information is:

```sql
SELECT investor_id
FROM (
    SELECT investor_id, holding_date,
           holding_date - (ROW_NUMBER() OVER(PARTITION BY investor_id ORDER BY holding_date) * INTERVAL '1 day') as grp
    FROM investor_trade
) t
GROUP BY investor_id, grp
HAVING COUNT(*) >= 3
LIMIT 10;
```

This query works by creating a group for each set of consecutive dates for each investor. It then counts the number of dates in each group and returns the investor_id for groups with three or more dates.

In [10]:
agent_executor_1 = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    verbose=True,
    agent_type=AgentType.OPENAI_FUNCTIONS,
    suffix="""When giving the final answer, also append the final SQL and explain it."""
)
response = agent_executor_1.run("""Find the accumulated profits and loss for investor mike, use the close price as the trade price""")

> Entering new AgentExecutor chain...

Invoking: `sql_db_list_tables` with ``


investor_definition, investor_trade, stock_definition, stock_dividend, stock_price, stock_type_definition
Invoking: `sql_db_schema` with `investor_definition, investor_trade, stock_price`



CREATE TABLE investor_definition (
	id VARCHAR(32) NOT NULL,
	investor_name VARCHAR(90),
	investor_country VARCHAR(90),
	gender VARCHAR(255),
	age INTEGER,
	num_years_invest INTEGER,
	busu_unit VARCHAR(255) NOT NULL,
	country VARCHAR(255) NOT NULL,
	CONSTRAINT investor_definition_pkey PRIMARY KEY (id)
)

/*
3 rows from investor_definition table:
id	investor_name	investor_country	gender	age	num_years_invest	busu_unit	country
1	mike	CN	male	29	10	RMG	CN
2	jack	IN	male	22	5	T&O	IN
3	yoyo	SG	female	29	7	MOT	SG
*/


CREATE TABLE investor_trade (
	holding_date DATE NOT NULL,
	investor_id VARCHAR(255) NOT NULL,
	stock_code VARCHAR(255) NOT NULL,
	direction VARCHAR(255),
	volume VARCHAR(32),
	busu_unit VARCHAR(255) NOT NULL,
	country VARCHAR(255) NOT NULL,
	CONSTRAINT investor_trade_pkey PRIMARY KEY (holding_date, investor_id, stock_code)
)

/*
3 rows from investor_trade table:
holding_date	investor_id	stock_code	direction	volume	busu_unit	country
2023-05-11	1	AAPL	buy	1000	MOT	SG
2023-05-11	1	AAC	buy	2000	MOT	SG
2023-05-11	1	UBSI	buy	400	MOT	SG
*/


CREATE TABLE stock_price (
	price_date DATE NOT NULL,
	stock_code VARCHAR(255) NOT NULL,
	close_price NUMERIC(24, 6),
	max_price NUMERIC(24, 6),
	min_price NUMERIC(24, 6),
	open_price NUMERIC(24, 6),
	busu_unit VARCHAR(255) NOT NULL,
	country VARCHAR(255) NOT NULL,
	CONSTRAINT stock_price_pkey PRIMARY KEY (price_date, stock_code)
)

/*
3 rows from stock_price table:
price_date	stock_code	close_price	max_price	min_price	open_price	busu_unit	country
2023-05-11	AAPL	173.750000	174.590000	172.170000	173.850000	MOT	SG
2023-05-12	AAPL	172.570000	174.060000	171.000000	173.620000	MOT	SG
2023-05-15	AAPL	172.070000	173.210000	171.470000	173.160000	MOT	SG
*/
Invoking: `sql_db_query_checker` with `SELECT investor_trade.direction, investor_trade.volume, stock_price.close_price FROM investor_trade INNER JOIN stock_price ON investor_trade.stock_code = stock_price.stock_code WHERE investor_trade.investor_id = '1' AND investor_trade.holding_date = stock_price.price_date`


SELECT investor_trade.direction, investor_trade.volume, stock_price.close_price
FROM investor_trade
INNER JOIN stock_price
ON investor_trade.stock_code = stock_price.stock_code
WHERE investor_trade.investor_id = '1'
AND investor_trade.holding_date = stock_price.price_date
Invoking: `sql_db_query` with `SELECT investor_trade.direction, investor_trade.volume, stock_price.close_price FROM investor_trade INNER JOIN stock_price ON investor_trade.stock_code = stock_price.stock_code WHERE investor_trade.investor_id = '1' AND investor_trade.holding_date = stock_price.price_date`


[('buy', '1000', Decimal('173.750000')), ('sell', '400', Decimal('172.690000')), ('buy', '2000', Decimal('10.420000')), ('sell', '100', Decimal('10.450000')), ('sell', '400', Decimal('10.460000')), ('buy', '400', Decimal('28.070000')), ('buy', '500', Decimal('6.570000')), ('sell', '300', Decimal('6.660000')), ('buy', '800', Decimal('5.160000')), ('buy', '400', Decimal('1.000000'))]The accumulated profits and loss for investor Mike, using the close price as the trade price, can be calculated as follows:

- Buy 1000 shares at 173.75: -173750
- Sell 400 shares at 172.69: +69076
- Buy 2000 shares at 10.42: -20840
- Sell 100 shares at 10.45: +1045
- Sell 400 shares at 10.46: +4184
- Buy 400 shares at 28.07: -11228
- Buy 500 shares at 6.57: -3285
- Sell 300 shares at 6.66: +1998
- Buy 800 shares at 5.16: -4128
- Buy 400 shares at 1.00: -400

The total accumulated profit/loss is -173750 + 69076 - 20840 + 1045 + 4184 - 11228 - 3285 + 1998 - 4128 - 400 = -141128

So, the accumulated profit/loss for investor Mike is -141128.

The SQL query used to obtain this data is:

```sql
SELECT investor_trade.direction, investor_trade.volume, stock_price.close_price
FROM investor_trade
INNER JOIN stock_price
ON investor_trade.stock_code = stock_price.stock_code
WHERE investor_trade.investor_id = '1'
AND investor_trade.holding_date = stock_price.price_date
```

This query joins the `investor_trade` and `stock_price` tables on the `stock_code` field, and filters for trades made by investor Mike (investor_id = '1'). It then selects the direction of the trade (buy/sell), the volume of the trade, and the close price of the stock on the day of the trade. The profit/loss for each trade is calculated as the volume multiplied by the close price, with a negative sign for buys and a positive sign for sells. The total accumulated profit/loss is the sum of the profit/loss for each trade.

> Finished chain.

In [13]:
agent_executor_1 = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    verbose=True,
    agent_type=AgentType.OPENAI_FUNCTIONS,
    suffix="""When giving the final answer, also append the final SQL and explain it."""
)
response = agent_executor_1.run("""Find the accumulated profits and loss for investor mike, use the close price as the trade price. 
the accumulated_profit_loss = total_money_on_selling_stock - total_money_on_buying_stock + current_value_held_stock""")

> Entering new AgentExecutor chain...

Invoking: `sql_db_list_tables` with ``


investor_definition, investor_trade, stock_definition, stock_dividend, stock_price, stock_type_definition
Invoking: `sql_db_schema` with `investor_definition, investor_trade, stock_price`



CREATE TABLE investor_definition (
	id VARCHAR(32) NOT NULL,
	investor_name VARCHAR(90),
	investor_country VARCHAR(90),
	gender VARCHAR(255),
	age INTEGER,
	num_years_invest INTEGER,
	busu_unit VARCHAR(255) NOT NULL,
	country VARCHAR(255) NOT NULL,
	CONSTRAINT investor_definition_pkey PRIMARY KEY (id)
)

/*
3 rows from investor_definition table:
id	investor_name	investor_country	gender	age	num_years_invest	busu_unit	country
1	mike	CN	male	29	10	RMG	CN
2	jack	IN	male	22	5	T&O	IN
3	yoyo	SG	female	29	7	MOT	SG
*/


CREATE TABLE investor_trade (
	holding_date DATE NOT NULL,
	investor_id VARCHAR(255) NOT NULL,
	stock_code VARCHAR(255) NOT NULL,
	direction VARCHAR(255),
	volume VARCHAR(32),
	busu_unit VARCHAR(255) NOT NULL,
	country VARCHAR(255) NOT NULL,
	CONSTRAINT investor_trade_pkey PRIMARY KEY (holding_date, investor_id, stock_code)
)

/*
3 rows from investor_trade table:
holding_date	investor_id	stock_code	direction	volume	busu_unit	country
2023-05-11	1	AAPL	buy	1000	MOT	SG
2023-05-11	1	AAC	buy	2000	MOT	SG
2023-05-11	1	UBSI	buy	400	MOT	SG
*/


CREATE TABLE stock_price (
	price_date DATE NOT NULL,
	stock_code VARCHAR(255) NOT NULL,
	close_price NUMERIC(24, 6),
	max_price NUMERIC(24, 6),
	min_price NUMERIC(24, 6),
	open_price NUMERIC(24, 6),
	busu_unit VARCHAR(255) NOT NULL,
	country VARCHAR(255) NOT NULL,
	CONSTRAINT stock_price_pkey PRIMARY KEY (price_date, stock_code)
)

/*
3 rows from stock_price table:
price_date	stock_code	close_price	max_price	min_price	open_price	busu_unit	country
2023-05-11	AAPL	173.750000	174.590000	172.170000	173.850000	MOT	SG
2023-05-12	AAPL	172.570000	174.060000	171.000000	173.620000	MOT	SG
2023-05-15	AAPL	172.070000	173.210000	171.470000	173.160000	MOT	SG
*/
Invoking: `sql_db_query_checker` with `SELECT SUM(investor_trade.volume * stock_price.close_price) AS total_money_spent_on_buying FROM investor_trade INNER JOIN stock_price ON investor_trade.stock_code = stock_price.stock_code WHERE investor_trade.direction = 'buy' AND investor_trade.investor_id = (SELECT id FROM investor_definition WHERE investor_name = 'mike')`
responded: Based on the schema, we can see that the investor_trade table contains the information about the trades made by the investors, including the direction of the trade (buy or sell), the volume of the trade, and the stock code. The stock_price table contains the closing prices for the stocks on different dates. The investor_definition table contains the names of the investors.

To calculate the accumulated profit or loss for investor Mike, we need to calculate the total money spent on buying stocks, the total money received from selling stocks, and the current value of the stocks held by Mike.

The total money spent on buying stocks can be calculated by summing up the product of the volume and the closing price for all the 'buy' trades made by Mike.

The total money received from selling stocks can be calculated by summing up the product of the volume and the closing price for all the 'sell' trades made by Mike.

The current value of the stocks held by Mike can be calculated by summing up the product of the volume and the current closing price for all the stocks held by Mike.

Let's write the SQL queries for these calculations.

SELECT SUM(investor_trade.volume * stock_price.close_price) AS total_money_spent_on_buying
FROM investor_trade
INNER JOIN stock_price ON investor_trade.stock_code = stock_price.stock_code
WHERE investor_trade.direction = 'buy'
AND investor_trade.investor_id = (
    SELECT id
    FROM investor_definition
    WHERE investor_name = 'mike'
)
Invoking: `sql_db_query` with `SELECT SUM(investor_trade.volume * stock_price.close_price) AS total_money_spent_on_buying FROM investor_trade INNER JOIN stock_price ON investor_trade.stock_code = stock_price.stock_code WHERE investor_trade.direction = 'buy' AND investor_trade.investor_id = (SELECT id FROM investor_definition WHERE investor_name = 'mike')`


Error: (psycopg2.errors.UndefinedFunction) operator does not exist: character varying * numeric
LINE 1: SELECT SUM(investor_trade.volume * stock_price.close_price) ...
                                         ^
HINT:  No operator matches the given name and argument types. You might need to add explicit type casts.

[SQL: SELECT SUM(investor_trade.volume * stock_price.close_price) AS total_money_spent_on_buying FROM investor_trade INNER JOIN stock_price ON investor_trade.stock_code = stock_price.stock_code WHERE investor_trade.direction = 'buy' AND investor_trade.investor_id = (SELECT id FROM investor_definition WHERE investor_name = 'mike')]
(Background on this error at: https://sqlalche.me/e/20/f405)
Invoking: `sql_db_query_checker` with `SELECT SUM(CAST(investor_trade.volume AS NUMERIC) * stock_price.close_price) AS total_money_spent_on_buying FROM investor_trade INNER JOIN stock_price ON investor_trade.stock_code = stock_price.stock_code WHERE investor_trade.direction = 'buy' AND investor_trade.investor_id = (SELECT id FROM investor_definition WHERE investor_name = 'mike')`
responded: The error message indicates that the volume column in the investor_trade table is of type character varying, which cannot be directly multiplied with the close_price column of type numeric in the stock_price table. We need to cast the volume to numeric type before performing the multiplication. Let's modify the query accordingly.

SELECT SUM(CAST(investor_trade.volume AS NUMERIC) * stock_price.close_price) AS total_money_spent_on_buying FROM investor_trade INNER JOIN stock_price ON investor_trade.stock_code = stock_price.stock_code WHERE investor_trade.direction = 'buy' AND investor_trade.investor_id = (SELECT id FROM investor_definition WHERE investor_name = 'mike')
Invoking: `sql_db_query` with `SELECT SUM(CAST(investor_trade.volume AS NUMERIC) * stock_price.close_price) AS total_money_spent_on_buying FROM investor_trade INNER JOIN stock_price ON investor_trade.stock_code = stock_price.stock_code WHERE investor_trade.direction = 'buy' AND investor_trade.investor_id = (SELECT id FROM investor_definition WHERE investor_name = 'mike')`


[(Decimal('1063760.000000'),)]
Invoking: `sql_db_query_checker` with `SELECT SUM(CAST(investor_trade.volume AS NUMERIC) * stock_price.close_price) AS total_money_received_from_selling FROM investor_trade INNER JOIN stock_price ON investor_trade.stock_code = stock_price.stock_code WHERE investor_trade.direction = 'sell' AND investor_trade.investor_id = (SELECT id FROM investor_definition WHERE investor_name = 'mike')`


SELECT SUM(CAST(investor_trade.volume AS NUMERIC) * stock_price.close_price) AS total_money_received_from_selling
FROM investor_trade
INNER JOIN stock_price ON investor_trade.stock_code = stock_price.stock_code
WHERE investor_trade.direction = 'sell'
AND investor_trade.investor_id = (SELECT id FROM investor_definition WHERE investor_name = 'mike')
Invoking: `sql_db_query` with `SELECT SUM(CAST(investor_trade.volume AS NUMERIC) * stock_price.close_price) AS total_money_received_from_selling FROM investor_trade INNER JOIN stock_price ON investor_trade.stock_code = stock_price.stock_code WHERE investor_trade.direction = 'sell' AND investor_trade.investor_id = (SELECT id FROM investor_definition WHERE investor_name = 'mike')`


[(Decimal('381356.000000'),)]
Invoking: `sql_db_query_checker` with `SELECT SUM(CAST(investor_trade.volume AS NUMERIC) * stock_price.close_price) AS current_value_held_stock FROM investor_trade INNER JOIN stock_price ON investor_trade.stock_code = stock_price.stock_code WHERE investor_trade.investor_id = (SELECT id FROM investor_definition WHERE investor_name = 'mike') AND stock_price.price_date = (SELECT MAX(price_date) FROM stock_price)`


SELECT SUM(CAST(investor_trade.volume AS NUMERIC) * stock_price.close_price) AS current_value_held_stock
FROM investor_trade
INNER JOIN stock_price ON investor_trade.stock_code = stock_price.stock_code
WHERE investor_trade.investor_id = (SELECT id FROM investor_definition WHERE investor_name = 'mike')
AND stock_price.price_date = (SELECT MAX(price_date) FROM stock_price)
Invoking: `sql_db_query` with `SELECT SUM(CAST(investor_trade.volume AS NUMERIC) * stock_price.close_price) AS current_value_held_stock FROM investor_trade INNER JOIN stock_price ON investor_trade.stock_code = stock_price.stock_code WHERE investor_trade.investor_id = (SELECT id FROM investor_definition WHERE investor_name = 'mike') AND stock_price.price_date = (SELECT MAX(price_date) FROM stock_price)`


[(Decimal('289792.000000'),)]The total money spent on buying stocks by Mike is 1,063,760. The total money received from selling stocks by Mike is 381,356. The current value of the stocks held by Mike is 289,792.

Now, let's calculate the accumulated profit or loss for Mike using the formula:

accumulated_profit_loss = total_money_on_selling_stock - total_money_on_buying_stock + current_value_held_stock

accumulated_profit_loss = 381,356 - 1,063,760 + 289,792 = -392,612

So, the accumulated profit or loss for investor Mike is -392,612.

The SQL queries used to calculate these values are:

1. Total money spent on buying stocks:
```
SELECT SUM(CAST(investor_trade.volume AS NUMERIC) * stock_price.close_price) AS total_money_spent_on_buying
FROM investor_trade
INNER JOIN stock_price ON investor_trade.stock_code = stock_price.stock_code
WHERE investor_trade.direction = 'buy'
AND investor_trade.investor_id = (SELECT id FROM investor_definition WHERE investor_name = 'mike')
```

2. Total money received from selling stocks:
```
SELECT SUM(CAST(investor_trade.volume AS NUMERIC) * stock_price.close_price) AS total_money_received_from_selling
FROM investor_trade
INNER JOIN stock_price ON investor_trade.stock_code = stock_price.stock_code
WHERE investor_trade.direction = 'sell'
AND investor_trade.investor_id = (SELECT id FROM investor_definition WHERE investor_name = 'mike')
```

3. Current value of the stocks held by Mike:
```
SELECT SUM(CAST(investor_trade.volume AS NUMERIC) * stock_price.close_price) AS current_value_held_stock
FROM investor_trade
INNER JOIN stock_price ON investor_trade.stock_code = stock_price.stock_code
WHERE investor_trade.investor_id = (SELECT id FROM investor_definition WHERE investor_name = 'mike')
AND stock_price.price_date = (SELECT MAX(price_date) FROM stock_price)
```

> Finished chain.

In [17]:
agent_executor_1 = create_sql_agent(
    llm=ChatOpenAI(model='gpt-4-0613', temperature=0, openai_api_key = Utils.get_openai_key()),
    toolkit=toolkit,
    verbose=True,
    agent_type=AgentType.OPENAI_FUNCTIONS,
    suffix="""
    To answer my questions, you need to do following steps:
    1. generate a correct SQL
    2. send the SQL to database and get the answer from database
    3. Base on the answer from database, give me the answer
    4. give me the SQL that you generated
    5. explain the SQL that you generated
    """
)
response = agent_executor_1.run("""Find the accumulated profits and loss for investor with name mike, use close price as the trade price. 
formula for accumulated profits and loss:
x = stock volume that the investor holds for a specific day
m = stock price for a specific day
c = total buy for a date, x * m * -1
s = total sell for a date, x * m * 1
f = profit and loss for a date, s - c
y = accumulated profits and loss, sum all the f
""")

> Entering new AgentExecutor chain...

Invoking: `sql_db_list_tables` with ``
responded: To generate the correct SQL, I first need to understand the structure of the database. I will use the `sql_db_list_tables` tool to get a list of all the tables in the database.

investor_definition, investor_trade, stock_definition, stock_dividend, stock_price, stock_type_definition
Invoking: `sql_db_schema` with `investor_definition, investor_trade, stock_definition, stock_price`
responded: The database contains the following tables: investor_definition, investor_trade, stock_definition, stock_dividend, stock_price, stock_type_definition.

To generate the SQL, I need to know the schema of these tables. I will use the `sql_db_schema` tool to get the schema and sample rows for these tables.


CREATE TABLE investor_definition (
	id VARCHAR(32) NOT NULL,
	investor_name VARCHAR(90),
	investor_country VARCHAR(90),
	gender VARCHAR(255),
	age INTEGER,
	num_years_invest INTEGER,
	busu_unit VARCHAR(255) NOT NULL,
	country VARCHAR(255) NOT NULL,
	CONSTRAINT investor_definition_pkey PRIMARY KEY (id)
)

/*
3 rows from investor_definition table:
id	investor_name	investor_country	gender	age	num_years_invest	busu_unit	country
1	mike	CN	male	29	10	RMG	CN
2	jack	IN	male	22	5	T&O	IN
3	yoyo	SG	female	29	7	MOT	SG
*/


CREATE TABLE investor_trade (
	holding_date DATE NOT NULL,
	investor_id VARCHAR(255) NOT NULL,
	stock_code VARCHAR(255) NOT NULL,
	direction VARCHAR(255),
	volume VARCHAR(32),
	busu_unit VARCHAR(255) NOT NULL,
	country VARCHAR(255) NOT NULL,
	CONSTRAINT investor_trade_pkey PRIMARY KEY (holding_date, investor_id, stock_code)
)

/*
3 rows from investor_trade table:
holding_date	investor_id	stock_code	direction	volume	busu_unit	country
2023-05-11	1	AAPL	buy	1000	MOT	SG
2023-05-11	1	AAC	buy	2000	MOT	SG
2023-05-11	1	UBSI	buy	400	MOT	SG
*/


CREATE TABLE stock_definition (
	id SERIAL NOT NULL,
	stock_name VARCHAR(255),
	stock_code VARCHAR(255),
	stock_type_code VARCHAR(255),
	currency_name VARCHAR(255),
	busu_unit VARCHAR(255) NOT NULL,
	country VARCHAR(255) NOT NULL,
	CONSTRAINT stock_definition_pkey PRIMARY KEY (id)
)

/*
3 rows from stock_definition table:
id	stock_name	stock_code	stock_type_code	currency_name	busu_unit	country
0	apple	AAPL	CS	usd	MOT	SG
1	Aadi Bioscience, Inc. Common Stock	AADI	CS	usd	MOT	SG
2	Ares Acquisition Corporation	AAC	CS	usd	MOT	SG
*/


CREATE TABLE stock_price (
	price_date DATE NOT NULL,
	stock_code VARCHAR(255) NOT NULL,
	close_price NUMERIC(24, 6),
	max_price NUMERIC(24, 6),
	min_price NUMERIC(24, 6),
	open_price NUMERIC(24, 6),
	busu_unit VARCHAR(255) NOT NULL,
	country VARCHAR(255) NOT NULL,
	CONSTRAINT stock_price_pkey PRIMARY KEY (price_date, stock_code)
)

/*
3 rows from stock_price table:
price_date	stock_code	close_price	max_price	min_price	open_price	busu_unit	country
2023-05-11	AAPL	173.750000	174.590000	172.170000	173.850000	MOT	SG
2023-05-12	AAPL	172.570000	174.060000	171.000000	173.620000	MOT	SG
2023-05-15	AAPL	172.070000	173.210000	171.470000	173.160000	MOT	SG
*/
Invoking: `sql_db_query_checker` with `WITH trade_prices AS (SELECT it.holding_date, it.direction, it.volume, sp.close_price FROM investor_trade AS it JOIN investor_definition AS id ON it.investor_id = id.id JOIN stock_price AS sp ON it.stock_code = sp.stock_code AND it.holding_date = sp.price_date WHERE id.investor_name = 'mike'), trade_values AS (SELECT holding_date, direction, volume * close_price AS value FROM trade_prices), profits_and_losses AS (SELECT holding_date, SUM(CASE WHEN direction = 'sell' THEN value ELSE -value END) AS profit_or_loss FROM trade_values GROUP BY holding_date) SELECT SUM(profit_or_loss) AS accumulated_profit_or_loss FROM profits_and_losses;`
responded: Based on the schema and sample data, we can see that the investor's name is stored in the `investor_definition` table, the trades are stored in the `investor_trade` table, and the stock prices are stored in the `stock_price` table.

To calculate the accumulated profits and loss for the investor named Mike, we need to join these tables together and perform some calculations.

Here is the SQL query that I will generate:

```sql
WITH trade_prices AS (
    SELECT
        it.holding_date,
        it.direction,
        it.volume,
        sp.close_price
    FROM
        investor_trade AS it
    JOIN
        investor_definition AS id ON it.investor_id = id.id
    JOIN
        stock_price AS sp ON it.stock_code = sp.stock_code AND it.holding_date = sp.price_date
    WHERE
        id.investor_name = 'mike'
),
trade_values AS (
    SELECT
        holding_date,
        direction,
        volume * close_price AS value
    FROM
        trade_prices
),
profits_and_losses AS (
    SELECT
        holding_date,
        SUM(CASE WHEN direction = 'sell' THEN value ELSE -value END) AS profit_or_loss
    FROM
        trade_values
    GROUP BY
        holding_date
)
SELECT
    SUM(profit_or_loss) AS accumulated_profit_or_loss
FROM
    profits_and_losses;
```

This query first joins the relevant tables together and filters for the trades of the investor named Mike. It then calculates the value of each trade based on the volume and the close price of the stock on the day of the trade. It then calculates the profit or loss for each day by summing the values of the sell trades and subtracting the values of the buy trades. Finally, it sums all the daily profits and losses to get the accumulated profit or loss.

I will now use the `sql_db_query_checker` tool to check if this query is correct.

WITH trade_prices AS (
    SELECT it.holding_date, it.direction, it.volume, sp.close_price
    FROM investor_trade AS it
    JOIN investor_definition AS id ON it.investor_id = id.id
    JOIN stock_price AS sp ON it.stock_code = sp.stock_code AND it.holding_date = sp.price_date
    WHERE id.investor_name = 'mike'
),
trade_values AS (
    SELECT holding_date, direction, volume * close_price AS value
    FROM trade_prices
),
profits_and_losses AS (
    SELECT holding_date, SUM(CASE WHEN direction = 'sell' THEN value ELSE -value END) AS profit_or_loss
    FROM trade_values
    GROUP BY holding_date
)
SELECT SUM(profit_or_loss) AS accumulated_profit_or_loss
FROM profits_and_losses;
Invoking: `sql_db_query` with `WITH trade_prices AS (SELECT it.holding_date, it.direction, it.volume, sp.close_price FROM investor_trade AS it JOIN investor_definition AS id ON it.investor_id = id.id JOIN stock_price AS sp ON it.stock_code = sp.stock_code AND it.holding_date = sp.price_date WHERE id.investor_name = 'mike'), trade_values AS (SELECT holding_date, direction, volume * close_price AS value FROM trade_prices), profits_and_losses AS (SELECT holding_date, SUM(CASE WHEN direction = 'sell' THEN value ELSE -value END) AS profit_or_loss FROM trade_values GROUP BY holding_date) SELECT SUM(profit_or_loss) AS accumulated_profit_or_loss FROM profits_and_losses;`
responded: The SQL query is correct. Now I will execute this query using the `sql_db_query` tool to get the accumulated profits and loss for the investor named Mike.

Error: (psycopg2.errors.UndefinedFunction) operator does not exist: character varying * numeric
LINE 1: ...values AS (SELECT holding_date, direction, volume * close_pr...
                                                             ^
HINT:  No operator matches the given name and argument types. You might need to add explicit type casts.

[SQL: WITH trade_prices AS (SELECT it.holding_date, it.direction, it.volume, sp.close_price FROM investor_trade AS it JOIN investor_definition AS id ON it.investor_id = id.id JOIN stock_price AS sp ON it.stock_code = sp.stock_code AND it.holding_date = sp.price_date WHERE id.investor_name = 'mike'), trade_values AS (SELECT holding_date, direction, volume * close_price AS value FROM trade_prices), profits_and_losses AS (SELECT holding_date, SUM(CASE WHEN direction = 'sell' THEN value ELSE -value END) AS profit_or_loss FROM trade_values GROUP BY holding_date) SELECT SUM(profit_or_loss) AS accumulated_profit_or_loss FROM profits_and_losses;]
(Background on this error at: https://sqlalche.me/e/20/f405)
Invoking: `sql_db_query_checker` with `WITH trade_prices AS (SELECT it.holding_date, it.direction, CAST(it.volume AS NUMERIC) AS volume, sp.close_price FROM investor_trade AS it JOIN investor_definition AS id ON it.investor_id = id.id JOIN stock_price AS sp ON it.stock_code = sp.stock_code AND it.holding_date = sp.price_date WHERE id.investor_name = 'mike'), trade_values AS (SELECT holding_date, direction, volume * close_price AS value FROM trade_prices), profits_and_losses AS (SELECT holding_date, SUM(CASE WHEN direction = 'sell' THEN value ELSE -value END) AS profit_or_loss FROM trade_values GROUP BY holding_date) SELECT SUM(profit_or_loss) AS accumulated_profit_or_loss FROM profits_and_losses;`
responded: The error message indicates that the `volume` column in the `investor_trade` table is of type `VARCHAR`, and we cannot directly multiply it with the `close_price` column which is of type `NUMERIC`.

We need to cast the `volume` column to a numeric type before performing the multiplication.

Here is the corrected SQL query:

```sql
WITH trade_prices AS (
    SELECT
        it.holding_date,
        it.direction,
        CAST(it.volume AS NUMERIC) AS volume,
        sp.close_price
    FROM
        investor_trade AS it
    JOIN
        investor_definition AS id ON it.investor_id = id.id
    JOIN
        stock_price AS sp ON it.stock_code = sp.stock_code AND it.holding_date = sp.price_date
    WHERE
        id.investor_name = 'mike'
),
trade_values AS (
    SELECT
        holding_date,
        direction,
        volume * close_price AS value
    FROM
        trade_prices
),
profits_and_losses AS (
    SELECT
        holding_date,
        SUM(CASE WHEN direction = 'sell' THEN value ELSE -value END) AS profit_or_loss
    FROM
        trade_values
    GROUP BY
        holding_date
)
SELECT
    SUM(profit_or_loss) AS accumulated_profit_or_loss
FROM
    profits_and_losses;
```

I will now use the `sql_db_query_checker` tool to check if this corrected query is correct.

WITH trade_prices AS (
    SELECT it.holding_date, it.direction, CAST(it.volume AS NUMERIC) AS volume, sp.close_price
    FROM investor_trade AS it
    JOIN investor_definition AS id ON it.investor_id = id.id
    JOIN stock_price AS sp ON it.stock_code = sp.stock_code AND it.holding_date = sp.price_date
    WHERE id.investor_name = 'mike'
),
trade_values AS (
    SELECT holding_date, direction, volume * close_price AS value
    FROM trade_prices
),
profits_and_losses AS (
    SELECT holding_date, SUM(CASE WHEN direction = 'sell' THEN value ELSE -value END) AS profit_or_loss
    FROM trade_values
    GROUP BY holding_date
)
SELECT SUM(profit_or_loss) AS accumulated_profit_or_loss
FROM profits_and_losses;
Invoking: `sql_db_query` with `WITH trade_prices AS (SELECT it.holding_date, it.direction, CAST(it.volume AS NUMERIC) AS volume, sp.close_price FROM investor_trade AS it JOIN investor_definition AS id ON it.investor_id = id.id JOIN stock_price AS sp ON it.stock_code = sp.stock_code AND it.holding_date = sp.price_date WHERE id.investor_name = 'mike'), trade_values AS (SELECT holding_date, direction, volume * close_price AS value FROM trade_prices), profits_and_losses AS (SELECT holding_date, SUM(CASE WHEN direction = 'sell' THEN value ELSE -value END) AS profit_or_loss FROM trade_values GROUP BY holding_date) SELECT SUM(profit_or_loss) AS accumulated_profit_or_loss FROM profits_and_losses;`
responded: The corrected SQL query is correct. Now I will execute this query using the `sql_db_query` tool to get the accumulated profits and loss for the investor named Mike.

[(Decimal('-137328.000000'),)]The accumulated profits and loss for the investor named Mike is -137,328.

This means that Mike has a loss of 137,328 based on the close prices of the stocks he traded.

> Finished chain.

## 2 Agent With Vector Store Search For Similar Question and SQL Pair

### 2.1 Create Vector Store of Quest SQl Pairs

In [27]:
from langchain.embeddings.openai import OpenAIEmbeddings
from langchain.vectorstores import FAISS
from langchain.schema import Document

embeddings =  OpenAIEmbeddings(openai_api_key = Utils.get_openai_key())

few_shotd = few_shots = {'Find all employees whose departments are in America': "SELECT COUNT(*) FROM employees e JOIN departments d ON e.department_id = d.department_id WHERE d.location_id IN (SELECT location_id FROM locations WHERE country_id = 'US');"
                        }
few_shot_docs = [
    Document(page_content=question, metadata={"sql_query": few_shots[question]})
    for question in few_shots.keys()
]

#vector_db = FAISS.from_documents(few_shot_docs, embeddings)
#vector_db.save_local("similar_example_store_index")
vector_db = FAISS.load_local("similar_example_store_index", embeddings)
retriever = vector_db.as_retriever()

from langchain.agents.agent_toolkits import create_retriever_tool

tool_description = """
This tool will help you understand similar examples to adapt them to the user question.
Input to this tool should be the user question.
"""

retriever_tool_example = create_retriever_tool(
    retriever, name="sql_get_similar_examples", description=tool_description
)

In [31]:
custom_tool_list = [retriever_tool_example]

custom_suffix_example = """
I should first get the similar examples I know.
If the examples are enough to construct the query, I can build it.
Otherwise, I can then look at the tables in the database to see what I can query.
Then I should query the schema of the most relevant tables.

When giving the final answer, also append the final SQL and explain it.
"""

agent_2 = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    verbose=True,
    agent_type=AgentType.OPENAI_FUNCTIONS,
    extra_tools=custom_tool_list,
    suffix=custom_suffix_example,
)

`agent_scratchpad` should be a variable in prompt.input_variables. Did not find it, so adding it at the end.

In [ ]:
response = agent_2.run("How many employees are there, whose departments are in america")

In [30]:
print(response)

There are 69 employees whose departments are located in America.

The SQL query used to get this answer is:
```sql
SELECT COUNT(*)
FROM employees e
JOIN departments d ON e.department_id = d.department_id
WHERE d.location_id IN (SELECT location_id FROM locations WHERE country_id = 'US');
```
This query first joins the employees and departments tables on the department_id. It then filters for departments that are located in America (represented by the country_id 'US'). The count of these employees is then returned.

## 3. Agent with Vector Store Checking Filtering Condition

In [5]:
import ast
import re


def run_query_save_results(db, query):
    res = db.run(query)
    res = [el for sub in ast.literal_eval(res) for el in sub if el]
    res = [re.sub(r"\b\d+\b", "", string).strip() for string in res]
    return res


country_name = run_query_save_results(db, "SELECT country_name From countries")
country_id = run_query_save_results(db, "SELECT country_id From countries")
department_name = run_query_save_results(db, "SELECT  department_name FROM departments")

In [14]:
from langchain.agents.agent_toolkits import create_retriever_tool
from langchain.embeddings.openai import OpenAIEmbeddings
from langchain.vectorstores import FAISS


texts = country_name + country_id + department_name

embeddings = OpenAIEmbeddings(openai_api_key = Utils.get_openai_key())

#embedding
#vector_db_1 = FAISS.from_texts(texts, embeddings)
#vector_db_1.save_local("name_search_store_index")
vector_db_1 = FAISS.load_local("name_search_store_index", embeddings)

#construct custom tool
retriever_1 = vector_db_1.as_retriever()
retriever_tool_name = create_retriever_tool(
    retriever_1,
    name="name_search",
    description="use to learn how a piece of data is actually written, can be from names, surnames addresses etc",
)
custom_tool_list = [retriever_tool_name]

In [17]:
from langchain.agents import create_sql_agent, AgentType
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.utilities import SQLDatabase
from langchain.chat_models import ChatOpenAI

# db = SQLDatabase.from_uri("sqlite:///Chinook.db")
llm = ChatOpenAI(model_name="gpt-4", temperature=0, openai_api_key = Utils.get_openai_key())

toolkit = SQLDatabaseToolkit(db=db, llm=llm)

custom_suffix = """
If a query statement asks for me to filter based on proper nouns, I should first check the spelling using the name_search tool.
Otherwise, I can then look at the tables in the database to see what I can query.
Then I should query the schema of the most relevant tables.

When giving the final answer, also append the final SQL to it and explain the SQL.
"""

agent_3 = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    verbose=True,
    agent_type=AgentType.OPENAI_FUNCTIONS,
    extra_tools=custom_tool_list,
    suffix=custom_suffix,
)

In [18]:
print(agent_3.run("How many employees's departments are in British"))

> Entering new AgentExecutor chain...

Invoking: `name_search` with `British`


[Document(page_content='UK'), Document(page_content='US'), Document(page_content='United Kingdom'), Document(page_content='Australia')]
Invoking: `sql_db_list_tables` with ``
responded: The term "British" could refer to the United Kingdom. Let's proceed with this assumption and check the tables in the database.

countries, departments, employees, locations, t_stock
Invoking: `sql_db_schema` with `employees, departments, locations`
responded: The relevant tables for this query seem to be "employees", "departments", and "locations". Let's check the schema of these tables to understand their structure and relationships.


CREATE TABLE departments (
	department_id INTEGER NOT NULL,
	department_name VARCHAR(30) NOT NULL,
	manager_id INTEGER,
	location_id INTEGER,
	CONSTRAINT dept_id_pk PRIMARY KEY (department_id)
)

/*
3 rows from departments table:
department_id	department_name	manager_id	location_id
10	Administration	200	1700
20	Marketing	201	1800
30	Purchasing	114	1700
*/


CREATE TABLE employees (
	employee_id INTEGER NOT NULL,
	first_name VARCHAR(20),
	last_name VARCHAR(25) NOT NULL,
	email VARCHAR(25) NOT NULL,
	phone_number VARCHAR(20),
	hire_date DATE NOT NULL,
	job_id VARCHAR(10) NOT NULL,
	salary NUMERIC(8, 2),
	commission_pct NUMERIC(2, 2),
	manager_id INTEGER,
	department_id INTEGER,
	CONSTRAINT emp_emp_id_pk PRIMARY KEY (employee_id)
)

/*
3 rows from employees table:
employee_id	first_name	last_name	email	phone_number	hire_date	job_id	salary	commission_pct	manager_id	department_id
209	Naveen	Chinthala	NCHINTHALA	515.123.4567	2016-08-21	AD_VP	185000.00	None	100	90
100	Steven	King	SKING	515.123.4567	2003-06-17	AD_PRES	24000.00	None	None	90
101	Neena	Kochhar	NKOCHHAR	515.123.4568	2005-09-21	AD_VP	17000.00	None	100	90
*/


CREATE TABLE locations (
	location_id INTEGER NOT NULL,
	street_address VARCHAR(40),
	postal_code VARCHAR(12),
	city VARCHAR(30) NOT NULL,
	state_province VARCHAR(25),
	country_id CHAR(2),
	CONSTRAINT loc_id_pk PRIMARY KEY (location_id)
)

/*
3 rows from locations table:
location_id	street_address	postal_code	city	state_province	country_id
1000	1297 Via Cola di Rie	00989	Roma	None	IT
1100	93091 Calle della Testa	10934	Venice	None	IT
1200	2017 Shinjuku-ku	1689	Tokyo	Tokyo Prefecture	JP
*/
Invoking: `sql_db_schema` with `countries`
responded: The "employees" table has a "department_id" column, the "departments" table has a "location_id" column, and the "locations" table has a "country_id" column. However, we don't know what the "country_id" represents. We need to check the "countries" table to see if it contains a country name that matches "United Kingdom". Let's check the schema of the "countries" table.


CREATE TABLE countries (
	country_id CHAR(2) NOT NULL,
	country_name VARCHAR(40),
	region_id INTEGER,
	CONSTRAINT country_c_id_pk PRIMARY KEY (country_id)
)

/*
3 rows from countries table:
country_id	country_name	region_id
AR	Argentina	2
AU	Australia	3
BE	Belgium	1
*/
Invoking: `sql_db_query_checker` with `SELECT COUNT(*) FROM employees e JOIN departments d ON e.department_id = d.department_id JOIN locations l ON d.location_id = l.location_id JOIN countries c ON l.country_id = c.country_id WHERE c.country_name = 'United Kingdom'`
responded: The "countries" table contains a "country_name" column, which likely contains the name "United Kingdom". We can now construct a SQL query to count the number of employees whose departments are in the United Kingdom. The query will join the "employees", "departments", "locations", and "countries" tables on their respective id columns, and filter for rows where the "country_name" is "United Kingdom". Let's construct and check this query.

SELECT COUNT(*) FROM employees e JOIN departments d ON e.department_id = d.department_id JOIN locations l ON d.location_id = l.location_id JOIN countries c ON l.country_id = c.country_id WHERE c.country_name = 'United Kingdom'
Invoking: `sql_db_query` with `SELECT COUNT(*) FROM employees e JOIN departments d ON e.department_id = d.department_id JOIN locations l ON d.location_id = l.location_id JOIN countries c ON l.country_id = c.country_id WHERE c.country_name = 'United Kingdom'`


[(35,)]There are 35 employees whose departments are in the United Kingdom.

The SQL query used to find this is:
```sql
SELECT COUNT(*)
FROM employees e
JOIN departments d ON e.department_id = d.department_id
JOIN locations l ON d.location_id = l.location_id
JOIN countries c ON l.country_id = c.country_id
WHERE c.country_name = 'United Kingdom'
```
This query joins the "employees", "departments", "locations", and "countries" tables on their respective id columns, and filters for rows where the "country_name" is "United Kingdom". The COUNT(*) function is then used to count the number of such rows, which represents the number of employees whose departments are in the United Kingdom.

> Finished chain.
There are 35 employees whose departments are in the United Kingdom.

The SQL query used to find this is:
```sql
SELECT COUNT(*)
FROM employees e
JOIN departments d ON e.department_id = d.department_id
JOIN locations l ON d.location_id = l.location_id
JOIN countries c ON l.country_id = c.country_id
WHERE c.country_name = 'United Kingdom'
```
This query joins the "employees", "departments", "locations", and "countries" tables on their respective id columns, and filters for rows where the "country_name" is "United Kingdom". The COUNT(*) function is then used to count the number of such rows, which represents the number of employees whose departments are in the United Kingdom.

## 4. Agent with Vector Stores Support Similar Query Search and Filtering Condition Checking

In [7]:

custom_suffix = """
I should first get the similar examples I know.
If the examples are enough to construct the query, I can build it.
Otherwise, I can then look at the tables in the database to see what I can query.
Then I should query the schema of the most relevant tables.

If a user asks for me to filter based on proper nouns, I should first check the spelling using the name_search tool.
Otherwise, I can then look at the tables in the database to see what I can query.
Then I should query the schema of the most relevant tables.

When giving the final answer, also append the final SQL to it and explain the SQL in natural languages.
"""

custom_tool_list = [retriever_tool_name, retriever_tool_example]

agent_compose = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    verbose=True,
    agent_type=AgentType.OPENAI_FUNCTIONS,
    extra_tools=custom_tool_list,
    suffix=custom_suffix,
)

In [51]:
agent_compose.run("How many employees's departments are in America")

> Entering new AgentExecutor chain...

Invoking: `sql_get_similar_examples` with `How many employees's departments are in America`


[Document(page_content='Find all employees whose departments are in America', metadata={'sql_query': "SELECT COUNT(*) FROM employees e JOIN departments d ON e.department_id = d.department_id WHERE d.location_id IN (SELECT location_id FROM locations WHERE country_id = 'US');"})]
Invoking: `sql_db_query_checker` with `SELECT COUNT(*) FROM employees e JOIN departments d ON e.department_id = d.department_id WHERE d.location_id IN (SELECT location_id FROM locations WHERE country_id = 'US');`
responded: The similar example provided gives me a good starting point to construct the SQL query. The query is counting the number of employees whose departments are located in America. The 'US' country_id is used to represent America in the database. Let's construct the query.

SELECT COUNT(*) FROM employees e JOIN departments d ON e.department_id = d.department_id WHERE d.location_id IN (SELECT location_id FROM locations WHERE country_id = 'US');
Invoking: `sql_db_query` with `SELECT COUNT(*) FROM employees e JOIN departments d ON e.department_id = d.department_id WHERE d.location_id IN (SELECT location_id FROM locations WHERE country_id = 'US');`


[(69,)]There are 69 employees whose departments are located in America.

The SQL query used to find this is:
```sql
SELECT COUNT(*)
FROM employees e
JOIN departments d ON e.department_id = d.department_id
WHERE d.location_id IN (SELECT location_id FROM locations WHERE country_id = 'US');
```
This query first joins the employees and departments tables on the department_id. It then filters for departments that are located in America, represented by the country_id 'US' in the locations table. The count of these employees is then returned.

> Finished chain.

"There are 69 employees whose departments are located in America.\n\nThe SQL query used to find this is: \n```sql\nSELECT COUNT(*) \nFROM employees e \nJOIN departments d ON e.department_id = d.department_id \nWHERE d.location_id IN (SELECT location_id FROM locations WHERE country_id = 'US');\n```\nThis query first joins the employees and departments tables on the department_id. It then filters for departments that are located in America, represented by the country_id 'US' in the locations table. The count of these employees is then returned."

In [10]:
response = "There are 35 employees whose departments are in the United Kingdom.\n\nThe SQL query I used to get this answer is:\n```sql\nSELECT COUNT(*) \nFROM employees e \nJOIN departments d ON e.department_id = d.department_id \nWHERE d.location_id IN (\n    SELECT location_id \n    FROM locations \n    WHERE country_id = 'UK'\n);\n```\nThis query first joins the employees and departments tables on the department_id column. Then it filters the rows where the location_id of the department is in the list of location_ids that are in the UK (obtained from the locations table). Finally, it counts the number of such employees."
print(response)

There are 35 employees whose departments are in the United Kingdom.

The SQL query I used to get this answer is:
```sql
SELECT COUNT(*)
FROM employees e
JOIN departments d ON e.department_id = d.department_id
WHERE d.location_id IN (
    SELECT location_id
    FROM locations
    WHERE country_id = 'UK'
);
```
This query first joins the employees and departments tables on the department_id column. Then it filters the rows where the location_id of the department is in the list of location_ids that are in the UK (obtained from the locations table). Finally, it counts the number of such employees.