In [5]:
#!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.9-cp39-cp39-macosx_10_9_x86_64.whl.metadata (4.4 kB)
Downloading psycopg2_binary-2.9.9-cp39-cp39-macosx_10_9_x86_64.whl (2.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.8/2.8 MB 7.6 MB/s eta 0:00:0000:0100:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9

In [1]:
print('ss')

ss

In [1]:
from langchain.sql_database import SQLDatabase

In [35]:
db = SQLDatabase.from_uri('postgresql+psycopg2://test:test@localhost/test')

In [36]:
print(db.get_table_info())

CREATE TABLE t_stock (
	date DATE,
	open NUMERIC,
	high NUMERIC,
	low NUMERIC,
	close NUMERIC,
	volume BIGINT,
	name VARCHAR(20)
)

/*
3 rows from t_stock table:
date	open	high	low	close	volume	name
2013-02-08	15.07	15.12	14.63	14.75	8407500	AAL
2013-02-11	14.89	15.01	14.26	14.46	8882000	AAL
2013-02-12	14.45	14.51	14.1	14.27	8126000	AAL
*/

In [4]:
db = SQLDatabase.from_uri('trino://user@localhost:8080/postgresql/public')

In [8]:
db.run('SELECT * FROM t_stock limit 10')

"[(datetime.date(2013, 2, 8), 8407500, 'AAL'), (datetime.date(2013, 2, 11), 8882000, 'AAL'), (datetime.date(2013, 2, 12), 8126000, 'AAL'), (datetime.date(2013, 2, 13), 10259500, 'AAL'), (datetime.date(2013, 2, 14), 31879900, 'AAL'), (datetime.date(2013, 2, 15), 15628000, 'AAL'), (datetime.date(2013, 2, 19), 11354400, 'AAL'), (datetime.date(2013, 2, 20), 14725200, 'AAL'), (datetime.date(2013, 2, 21), 11922100, 'AAL'), (datetime.date(2013, 2, 22), 6071400, 'AAL')]"