In [1]:
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase
from langchain.llms.openai import OpenAI
from langchain.agents import AgentExecutor
from langchain.agents.agent_types import AgentType
from langchain.chat_models import ChatOpenAI

# adding Folder_2 to the system path
import sys
sys.path.insert(0, '../')
from common.utils import Utils

In [2]:

#db = SQLDatabase.from_uri("mysql+mysqlconnector://xxx:xxx@localhost:3306/sys")
db = SQLDatabase.from_uri('postgresql+psycopg2://test:test@localhost/test')

In [3]:
llm = ChatOpenAI(model='gpt-4-0613', temperature=0, openai_api_key = Utils.get_openai_key())
toolkit = SQLDatabaseToolkit(db=db, llm=llm)

## Agent with No Support Vector Store

In [4]:

agent_executor_2 = create_sql_agent(
    llm=ChatOpenAI(model='gpt-4-0613',temperature=0, openai_api_key = Utils.get_openai_key()),
    toolkit=toolkit,
    verbose=False,
    agent_type=AgentType.OPENAI_FUNCTIONS,
    suffix="""When giving the final answer, also append the final SQL and explain it."""
)

In [5]:

response = agent_executor_2.run("How many employees's departments are in america")
print(response)

There are no employees whose departments are located in America.

The SQL query used to find this is:
```sql
SELECT COUNT(DISTINCT e.employee_id)
FROM employees e
JOIN departments d ON e.department_id = d.department_id
JOIN locations l ON d.location_id = l.location_id
JOIN countries c ON l.country_id = c.country_id
WHERE c.country_name = 'America'
```
This query works by joining the employees, departments, locations, and countries tables together. It then counts the number of unique employee IDs where the country name is 'America'.

## Agent With Vector Store Search For Similar Question and SQL Pair

In [4]:
from langchain.embeddings.openai import OpenAIEmbeddings
from langchain.vectorstores import FAISS
from langchain.schema import Document

embeddings =  OpenAIEmbeddings(openai_api_key = Utils.get_openai_key())

few_shotd = few_shots = {'Find all employees whose departments are in America': "SELECT COUNT(*) FROM employees e JOIN departments d ON e.department_id = d.department_id WHERE d.location_id IN (SELECT location_id FROM locations WHERE country_id = 'US');"
                        }
few_shot_docs = [
    Document(page_content=question, metadata={"sql_query": few_shots[question]})
    for question in few_shots.keys()
]

#vector_db = FAISS.from_documents(few_shot_docs, embeddings)
#vector_db.save_local("similar_example_store_index")
vector_db = FAISS.load_local("similar_example_store_index", embeddings)
retriever = vector_db.as_retriever()

from langchain.agents.agent_toolkits import create_retriever_tool

tool_description = """
This tool will help you understand similar examples to adapt them to the user question.
Input to this tool should be the user question.
"""

retriever_tool_example = create_retriever_tool(
    retriever, name="sql_get_similar_examples", description=tool_description
)

In [7]:
custom_tool_list = [retriever_tool_example]

custom_suffix_example = """
I should first get the similar examples I know.
If the examples are enough to construct the query, I can build it.
Otherwise, I can then look at the tables in the database to see what I can query.
Then I should query the schema of the most relevant tables.

When giving the final answer, also append the final SQL and explain it.
"""

agent_1 = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    verbose=True,
    agent_type=AgentType.OPENAI_FUNCTIONS,
    extra_tools=custom_tool_list,
    suffix=custom_suffix_example,
)

In [8]:
response = agent_1.run("How many employees's departments are in america")
print(response)

> Entering new AgentExecutor chain...

Invoking: `sql_get_similar_examples` with `How many employees's departments are at america`


[Document(page_content='Find all employees whose departments are in America', metadata={'sql_query': "SELECT COUNT(*) FROM employees e JOIN departments d ON e.department_id = d.department_id WHERE d.location_id IN (SELECT location_id FROM locations WHERE country_id = 'US');"})]
Invoking: `sql_db_query_checker` with `SELECT COUNT(*) FROM employees e JOIN departments d ON e.department_id = d.department_id WHERE d.location_id IN (SELECT location_id FROM locations WHERE country_id = 'US');`
responded: The similar example provided gives me a good starting point to construct the SQL query. The query is counting the number of employees whose departments are located in America. The 'employees' table is joined with the 'departments' table on the 'department_id' field. The 'WHERE' clause is used to filter the departments that are located in America. The 'locations' table is used to get the 'location_id' of the locations in America. The 'country_id' for America is 'US'.

Let's construct the SQL query.

SELECT COUNT(*) FROM employees e JOIN departments d ON e.department_id = d.department_id WHERE d.location_id IN (SELECT location_id FROM locations WHERE country_id = 'US');
Invoking: `sql_db_query` with `SELECT COUNT(*) FROM employees e JOIN departments d ON e.department_id = d.department_id WHERE d.location_id IN (SELECT location_id FROM locations WHERE country_id = 'US');`


[(69,)]There are 69 employees whose departments are located in America.

The SQL query used to get this result is:
```sql
SELECT COUNT(*)
FROM employees e
JOIN departments d ON e.department_id = d.department_id
WHERE d.location_id IN (SELECT location_id FROM locations WHERE country_id = 'US');
```
This query counts the number of employees whose departments are located in America. The 'employees' table is joined with the 'departments' table on the 'department_id' field. The 'WHERE' clause is used to filter the departments that are located in America. The 'locations' table is used to get the 'location_id' of the locations in America. The 'country_id' for America is 'US'.

> Finished chain.
There are 69 employees whose departments are located in America.

The SQL query used to get this result is:
```sql
SELECT COUNT(*)
FROM employees e
JOIN departments d ON e.department_id = d.department_id
WHERE d.location_id IN (SELECT location_id FROM locations WHERE country_id = 'US');
```
This query counts the number of employees whose departments are located in America. The 'employees' table is joined with the 'departments' table on the 'department_id' field. The 'WHERE' clause is used to filter the departments that are located in America. The 'locations' table is used to get the 'location_id' of the locations in America. The 'country_id' for America is 'US'.

## Agent with Vector Store Checking Filtering Condition

In [5]:
import ast
import re


def run_query_save_results(db, query):
    res = db.run(query)
    res = [el for sub in ast.literal_eval(res) for el in sub if el]
    res = [re.sub(r"\b\d+\b", "", string).strip() for string in res]
    return res


country_name = run_query_save_results(db, "SELECT country_name From countries")
country_id = run_query_save_results(db, "SELECT country_id From countries")
department_name = run_query_save_results(db, "SELECT  department_name FROM departments")

In [14]:
from langchain.agents.agent_toolkits import create_retriever_tool
from langchain.embeddings.openai import OpenAIEmbeddings
from langchain.vectorstores import FAISS


texts = country_name + country_id + department_name

embeddings = OpenAIEmbeddings(openai_api_key = Utils.get_openai_key())

#embedding
#vector_db_1 = FAISS.from_texts(texts, embeddings)
#vector_db_1.save_local("name_search_store_index")
vector_db_1 = FAISS.load_local("name_search_store_index", embeddings)

#construct custom tool
retriever_1 = vector_db_1.as_retriever()
retriever_tool_name = create_retriever_tool(
    retriever_1,
    name="name_search",
    description="use to learn how a piece of data is actually written, can be from names, surnames addresses etc",
)
custom_tool_list = [retriever_tool_name]

In [17]:
from langchain.agents import create_sql_agent, AgentType
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.utilities import SQLDatabase
from langchain.chat_models import ChatOpenAI

# db = SQLDatabase.from_uri("sqlite:///Chinook.db")
llm = ChatOpenAI(model_name="gpt-4", temperature=0, openai_api_key = Utils.get_openai_key())

toolkit = SQLDatabaseToolkit(db=db, llm=llm)

custom_suffix = """
If a query statement asks for me to filter based on proper nouns, I should first check the spelling using the name_search tool.
Otherwise, I can then look at the tables in the database to see what I can query.
Then I should query the schema of the most relevant tables.

When giving the final answer, also append the final SQL to it and explain the SQL.
"""

agent = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    verbose=True,
    agent_type=AgentType.OPENAI_FUNCTIONS,
    extra_tools=custom_tool_list,
    suffix=custom_suffix,
)

In [18]:
print(agent.run("How many employees's departments are in British"))

> Entering new AgentExecutor chain...

Invoking: `name_search` with `British`


[Document(page_content='UK'), Document(page_content='US'), Document(page_content='United Kingdom'), Document(page_content='Australia')]
Invoking: `sql_db_list_tables` with ``
responded: The term "British" could refer to the United Kingdom. Let's proceed with this assumption and check the tables in the database.

countries, departments, employees, locations, t_stock
Invoking: `sql_db_schema` with `employees, departments, locations`
responded: The relevant tables for this query seem to be "employees", "departments", and "locations". Let's check the schema of these tables to understand their structure and relationships.


CREATE TABLE departments (
	department_id INTEGER NOT NULL,
	department_name VARCHAR(30) NOT NULL,
	manager_id INTEGER,
	location_id INTEGER,
	CONSTRAINT dept_id_pk PRIMARY KEY (department_id)
)

/*
3 rows from departments table:
department_id	department_name	manager_id	location_id
10	Administration	200	1700
20	Marketing	201	1800
30	Purchasing	114	1700
*/


CREATE TABLE employees (
	employee_id INTEGER NOT NULL,
	first_name VARCHAR(20),
	last_name VARCHAR(25) NOT NULL,
	email VARCHAR(25) NOT NULL,
	phone_number VARCHAR(20),
	hire_date DATE NOT NULL,
	job_id VARCHAR(10) NOT NULL,
	salary NUMERIC(8, 2),
	commission_pct NUMERIC(2, 2),
	manager_id INTEGER,
	department_id INTEGER,
	CONSTRAINT emp_emp_id_pk PRIMARY KEY (employee_id)
)

/*
3 rows from employees table:
employee_id	first_name	last_name	email	phone_number	hire_date	job_id	salary	commission_pct	manager_id	department_id
209	Naveen	Chinthala	NCHINTHALA	515.123.4567	2016-08-21	AD_VP	185000.00	None	100	90
100	Steven	King	SKING	515.123.4567	2003-06-17	AD_PRES	24000.00	None	None	90
101	Neena	Kochhar	NKOCHHAR	515.123.4568	2005-09-21	AD_VP	17000.00	None	100	90
*/


CREATE TABLE locations (
	location_id INTEGER NOT NULL,
	street_address VARCHAR(40),
	postal_code VARCHAR(12),
	city VARCHAR(30) NOT NULL,
	state_province VARCHAR(25),
	country_id CHAR(2),
	CONSTRAINT loc_id_pk PRIMARY KEY (location_id)
)

/*
3 rows from locations table:
location_id	street_address	postal_code	city	state_province	country_id
1000	1297 Via Cola di Rie	00989	Roma	None	IT
1100	93091 Calle della Testa	10934	Venice	None	IT
1200	2017 Shinjuku-ku	1689	Tokyo	Tokyo Prefecture	JP
*/
Invoking: `sql_db_schema` with `countries`
responded: The "employees" table has a "department_id" column, the "departments" table has a "location_id" column, and the "locations" table has a "country_id" column. However, we don't know what the "country_id" represents. We need to check the "countries" table to see if it contains a country name that matches "United Kingdom". Let's check the schema of the "countries" table.


CREATE TABLE countries (
	country_id CHAR(2) NOT NULL,
	country_name VARCHAR(40),
	region_id INTEGER,
	CONSTRAINT country_c_id_pk PRIMARY KEY (country_id)
)

/*
3 rows from countries table:
country_id	country_name	region_id
AR	Argentina	2
AU	Australia	3
BE	Belgium	1
*/
Invoking: `sql_db_query_checker` with `SELECT COUNT(*) FROM employees e JOIN departments d ON e.department_id = d.department_id JOIN locations l ON d.location_id = l.location_id JOIN countries c ON l.country_id = c.country_id WHERE c.country_name = 'United Kingdom'`
responded: The "countries" table contains a "country_name" column, which likely contains the name "United Kingdom". We can now construct a SQL query to count the number of employees whose departments are in the United Kingdom. The query will join the "employees", "departments", "locations", and "countries" tables on their respective id columns, and filter for rows where the "country_name" is "United Kingdom". Let's construct and check this query.

SELECT COUNT(*) FROM employees e JOIN departments d ON e.department_id = d.department_id JOIN locations l ON d.location_id = l.location_id JOIN countries c ON l.country_id = c.country_id WHERE c.country_name = 'United Kingdom'
Invoking: `sql_db_query` with `SELECT COUNT(*) FROM employees e JOIN departments d ON e.department_id = d.department_id JOIN locations l ON d.location_id = l.location_id JOIN countries c ON l.country_id = c.country_id WHERE c.country_name = 'United Kingdom'`


[(35,)]There are 35 employees whose departments are in the United Kingdom.

The SQL query used to find this is:
```sql
SELECT COUNT(*)
FROM employees e
JOIN departments d ON e.department_id = d.department_id
JOIN locations l ON d.location_id = l.location_id
JOIN countries c ON l.country_id = c.country_id
WHERE c.country_name = 'United Kingdom'
```
This query joins the "employees", "departments", "locations", and "countries" tables on their respective id columns, and filters for rows where the "country_name" is "United Kingdom". The COUNT(*) function is then used to count the number of such rows, which represents the number of employees whose departments are in the United Kingdom.

> Finished chain.
There are 35 employees whose departments are in the United Kingdom.

The SQL query used to find this is:
```sql
SELECT COUNT(*)
FROM employees e
JOIN departments d ON e.department_id = d.department_id
JOIN locations l ON d.location_id = l.location_id
JOIN countries c ON l.country_id = c.country_id
WHERE c.country_name = 'United Kingdom'
```
This query joins the "employees", "departments", "locations", and "countries" tables on their respective id columns, and filters for rows where the "country_name" is "United Kingdom". The COUNT(*) function is then used to count the number of such rows, which represents the number of employees whose departments are in the United Kingdom.

## Agent with Vector Stores Support Similar Query Search and Filtering Condition Checking

In [7]:

custom_suffix = """
I should first get the similar examples I know.
If the examples are enough to construct the query, I can build it.
Otherwise, I can then look at the tables in the database to see what I can query.
Then I should query the schema of the most relevant tables.

If a user asks for me to filter based on proper nouns, I should first check the spelling using the name_search tool.
Otherwise, I can then look at the tables in the database to see what I can query.
Then I should query the schema of the most relevant tables.

When giving the final answer, also append the final SQL to it and explain the SQL in natural languages.
"""

custom_tool_list = [retriever_tool_name, retriever_tool_example]

agent_compose = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    verbose=True,
    agent_type=AgentType.OPENAI_FUNCTIONS,
    extra_tools=custom_tool_list,
    suffix=custom_suffix,
)

In [9]:
agent_compose.run("How many employees's departments are in British")

> Entering new AgentExecutor chain...

Invoking: `sql_get_similar_examples` with `How many employees's departments are in British`


[Document(page_content='Find all employees whose departments are in America', metadata={'sql_query': "SELECT COUNT(*) FROM employees e JOIN departments d ON e.department_id = d.department_id WHERE d.location_id IN (SELECT location_id FROM locations WHERE country_id = 'US');"})]
Invoking: `sql_db_list_tables` with ``


countries, departments, employees, locations, t_stock
Invoking: `sql_db_schema` with `countries, departments, employees, locations`



CREATE TABLE countries (
	country_id CHAR(2) NOT NULL,
	country_name VARCHAR(40),
	region_id INTEGER,
	CONSTRAINT country_c_id_pk PRIMARY KEY (country_id)
)

/*
3 rows from countries table:
country_id	country_name	region_id
AR	Argentina	2
AU	Australia	3
BE	Belgium	1
*/


CREATE TABLE departments (
	department_id INTEGER NOT NULL,
	department_name VARCHAR(30) NOT NULL,
	manager_id INTEGER,
	location_id INTEGER,
	CONSTRAINT dept_id_pk PRIMARY KEY (department_id)
)

/*
3 rows from departments table:
department_id	department_name	manager_id	location_id
10	Administration	200	1700
20	Marketing	201	1800
30	Purchasing	114	1700
*/


CREATE TABLE employees (
	employee_id INTEGER NOT NULL,
	first_name VARCHAR(20),
	last_name VARCHAR(25) NOT NULL,
	email VARCHAR(25) NOT NULL,
	phone_number VARCHAR(20),
	hire_date DATE NOT NULL,
	job_id VARCHAR(10) NOT NULL,
	salary NUMERIC(8, 2),
	commission_pct NUMERIC(2, 2),
	manager_id INTEGER,
	department_id INTEGER,
	CONSTRAINT emp_emp_id_pk PRIMARY KEY (employee_id)
)

/*
3 rows from employees table:
employee_id	first_name	last_name	email	phone_number	hire_date	job_id	salary	commission_pct	manager_id	department_id
209	Naveen	Chinthala	NCHINTHALA	515.123.4567	2016-08-21	AD_VP	185000.00	None	100	90
100	Steven	King	SKING	515.123.4567	2003-06-17	AD_PRES	24000.00	None	None	90
101	Neena	Kochhar	NKOCHHAR	515.123.4568	2005-09-21	AD_VP	17000.00	None	100	90
*/


CREATE TABLE locations (
	location_id INTEGER NOT NULL,
	street_address VARCHAR(40),
	postal_code VARCHAR(12),
	city VARCHAR(30) NOT NULL,
	state_province VARCHAR(25),
	country_id CHAR(2),
	CONSTRAINT loc_id_pk PRIMARY KEY (location_id)
)

/*
3 rows from locations table:
location_id	street_address	postal_code	city	state_province	country_id
1000	1297 Via Cola di Rie	00989	Roma	None	IT
1100	93091 Calle della Testa	10934	Venice	None	IT
1200	2017 Shinjuku-ku	1689	Tokyo	Tokyo Prefecture	JP
*/
Invoking: `name_search` with `British`


[Document(page_content='UK'), Document(page_content='US'), Document(page_content='United Kingdom'), Document(page_content='Australia')]
Invoking: `sql_db_query_checker` with `SELECT COUNT(*) FROM employees e JOIN departments d ON e.department_id = d.department_id WHERE d.location_id IN (SELECT location_id FROM locations WHERE country_id = 'UK');`


SELECT COUNT(*) FROM employees e JOIN departments d ON e.department_id = d.department_id WHERE d.location_id IN (SELECT location_id FROM locations WHERE country_id = 'UK');
Invoking: `sql_db_query` with `SELECT COUNT(*) FROM employees e JOIN departments d ON e.department_id = d.department_id WHERE d.location_id IN (SELECT location_id FROM locations WHERE country_id = 'UK');`


[(35,)]There are 35 employees whose departments are in the United Kingdom.

The SQL query I used to get this answer is:
```sql
SELECT COUNT(*)
FROM employees e
JOIN departments d ON e.department_id = d.department_id
WHERE d.location_id IN (
    SELECT location_id
    FROM locations
    WHERE country_id = 'UK'
);
```
This query first joins the employees and departments tables on the department_id column. Then it filters the rows where the location_id of the department is in the list of location_ids that are in the UK (obtained from the locations table). Finally, it counts the number of such employees.

> Finished chain.

"There are 35 employees whose departments are in the United Kingdom.\n\nThe SQL query I used to get this answer is:\n```sql\nSELECT COUNT(*) \nFROM employees e \nJOIN departments d ON e.department_id = d.department_id \nWHERE d.location_id IN (\n    SELECT location_id \n    FROM locations \n    WHERE country_id = 'UK'\n);\n```\nThis query first joins the employees and departments tables on the department_id column. Then it filters the rows where the location_id of the department is in the list of location_ids that are in the UK (obtained from the locations table). Finally, it counts the number of such employees."

In [10]:
response = "There are 35 employees whose departments are in the United Kingdom.\n\nThe SQL query I used to get this answer is:\n```sql\nSELECT COUNT(*) \nFROM employees e \nJOIN departments d ON e.department_id = d.department_id \nWHERE d.location_id IN (\n    SELECT location_id \n    FROM locations \n    WHERE country_id = 'UK'\n);\n```\nThis query first joins the employees and departments tables on the department_id column. Then it filters the rows where the location_id of the department is in the list of location_ids that are in the UK (obtained from the locations table). Finally, it counts the number of such employees."
print(response)

There are 35 employees whose departments are in the United Kingdom.

The SQL query I used to get this answer is:
```sql
SELECT COUNT(*)
FROM employees e
JOIN departments d ON e.department_id = d.department_id
WHERE d.location_id IN (
    SELECT location_id
    FROM locations
    WHERE country_id = 'UK'
);
```
This query first joins the employees and departments tables on the department_id column. Then it filters the rows where the location_id of the department is in the list of location_ids that are in the UK (obtained from the locations table). Finally, it counts the number of such employees.